body{
    background-color: rgb(255, 255, 255);
    margin: 0;

}
.header{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(42, 42, 42, 0.633);

}
.header img{
    width: 80px;
    height: 100px;
    margin-left: 20px;
    object-fit: contain;
}
.contenedor-header{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.inicio{
    width: 150px;
    height: 90px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nosotros{
    width: 150px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contacto{
    width: 150px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.inicio:hover,.nosotros:hover,.contacto:hover{
    color: #ffc600;
    /* background-color: rgba(21, 21, 21, 0.212); */
    border-bottom: 2px solid #ffc600 ;
    cursor: pointer;
}